{% extends "template.html" %}
{% block content %}
    <br >
    <br >
    <br >

    <form action="/search", method="GET" >
        <label for="search" >Search:</label >
        <input id="search" name="search" type="search" placeholder="Enter keyword" >
        <input type="submit" value="Search!">
    </form >
    {% for question in questions %}
        <div class="box" xmlns="http://www.w3.org/1999/html">
            <header>
                <div id="question_title">
                    <h2><a href="/question/{{ question['id'] }}">{{ question['title']}}</a></h2>
                </div>
                <div id="question_info">
                    <div>Submission time: {{ question['submission_time'] }}</div>
                    <div>View number: {{ question['view_number'] }}</div>
                    <div>Vote number: {{ question['vote_number'] }}</div>
                </div>
            </header>
            <article id="question-message">
                <p>{{ question['message'] }}</p>
            </article>
            <footer>
                <div class="button">
                    <a href="/delete/{{ question['id'] }}/question" onclick="return confirm('Are you sure?');"><p>Delete</p></a>
                </div>
                <div class="button">
                    <a href="{{ url_for('edit_question', question_id=question['id']) }}"><p>Edit</p></a>
                </div>
                <div class="button">
                    <a href="/question/{{ question['id'] }}/up"><p>Vote up</p></a>
                </div>
                <div class="button">
                    <a href="/question/{{ question['id'] }}/down"><p>Vote down</p> </a>
                </div>
            </footer>
        </div>

     {% endfor %}
{% endblock %}